<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h2>{{str}}</h2>-->
<!--<h2>{{tuple}} {{tuple[0] }}</h2>-->
<!--<h2>{{ list }} {{list[0]}} {{list[3]}}</h2>-->
<!--{% for l in list %}-->
<!--{% if l%2 == 0%}-->
<!--{{l}}-->
<!--{% endif %}-->
<!--{% endfor%}-->
<!--{%for d in dict%}-->
<!--{{d}}-&#45;&#45;&#45;&#45;{{dict[d]}}-->

<!--{% endfor%}-->
<!--<h3>{{"<h1>hello</h1>"| safe}}</h3>-->
<!--<h3>{{"helloWORLD"| capitalize}}</h3>-->
<!--<h3>{{"hello"| upper}}</h3>-->
<!--<h3>{{"hEllo"| lower}}</h3>-->
<!--<h3>{{"hello world"| title}}</h3>-->
<!--<h3>{{"hello"| reverse}}</h3>-->
<!--<h2>{{[123455327552]|first}}</h2>-->
<!--<h2>{{[123455327552]| last}}</h2>-->
<!--<h2>{{[123455327552]| sort}}</h2>-->
<!--<h2>{{[123455327552]| sum}}</h2>-->
<!--<h2>{{[123455327552]| length}}</h2>-->
<!--<h2>{{[123455327552]|}}</h2>-->
</body>
</html>